@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    text-transform: uppercase;
    display: block;
    margin-top: 150px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#333, #000);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

section h2 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    z-index: 3;
}

.txt-anim {
    font-weight: 300;
}

.txt-anim span.fix {
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;
    position: relative;
}

.txt-anim span.nofix::before{
    content: "";
    width: 100%;
    position: relative;
    color: #ff007b;
    animation:palavras 40s infinite;
}

@keyframes palavras {
    0%, 10% {
        content: "Vida";
    }
    10%, 20% {
        content: "Minha Princesa";
    }
    20%, 30% {
        content: "Kawanne";
    }
    30%, 40% {
        content: "Meu Amor";
    }
    40%, 50% {
        content: "Meu Bebê";
    }
    50%, 60% {
        content: "Meu Anjo";
    }
    60%, 70% {
        content: "Minha Flor";
    }
    70%, 80% {
        content: "Coração";
    }
    80%, 90% {
        content: "Meu Tesouro";
    }
    90%, 100% {
        content: "Vida";
    }

}


section .set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

section .set div {
    position: absolute;
    display: block;
}

section .set div:nth-child(1) {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}

section .set div:nth-child(2) {
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}

section .set div:nth-child(3) {
    left: 70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}

section .set div:nth-child(4) {
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}

section .set div:nth-child(5) {
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}

section .set div:nth-child(6) {
    left: 0%;
    animation: animate 12s linear infinite;
}

section .set div:nth-child(7) {
    left: 15%;
    animation: animate 14s linear infinite;
}

section .set div:nth-child(8) {
    left: 60%;
    animation: animate 15s linear infinite;
}


@keyframes animate {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translateX(-20px) rotate(45deg);
    }
    40% {
        transform: translateX(-20px) rotate(90deg);
    }
    60% {
        transform: translateX(20px) rotate(180deg);
    }
    80% {
        transform: translateX(-20px) rotate(180deg);
    }
    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.set1 {
    transform: scale(1) rotateX(180deg);
    filter: blur(1px);
    z-index: 4;
}

.set2 {
    transform: scale(1.5) rotateY(180deg);
    filter: blur(2px);
    z-index: 2;
}

.set3 {
    transform: scale(0.3) rotateX(180deg);
    filter: blur(4px);
    z-index: 1;
}